---
import { undefined } from "astro:schema";
import MainLayout from "../../../layout/MainLayout.astro";
import type { Product } from "../../../types/Product";

const { publicUrl } = Astro.params;
const API_URL = 'http://localhost:8090/api/v1/products/url/' + publicUrl;

let product: Product | undefined ; 

try {
  const response = await fetch(API_URL);

  if (!response.ok) {
    const errorBody = await response.text();
    // redirect to 500!
  } else {
    const data: Product = await response.json();
    product = data;
    // if !product redirect to 404
  }
} catch (error) {
    // redirect to 500
  console.error("Failed to fetch items:", error);
}

---
<MainLayout tabTitle="Home page!" activeTab="products">
    <h1 class="mb-2">Explore Our Watches</h1>
    {product ? ( 
        <div class="products-grid">
          <a class="w-100" href={"/products/" + product.publicUrl} target="_blank">
            <div class="product-card">
              <button class="icon-btn cart-button"><img src="/icons/cart.svg" width="16" height="16" loading="lazy"/></button>
              <img src="/images/prx.png" loading="lazy"/>
              <div class="w-100">
                  <h2>{product.name} <span>- {product.brand} - {product.mechanism}</span></h2>
                  <p>{product.description}</p>
                  <p class="price">{product.price} €</p>
              </div>
            </div>
          </a>
      </div>
    ) : (
      <p>No items found or an error occurred while fetching items.</p>
    )}
</MainLayout>