---
import AddToCartButton from "../../../components/AddToCartButton";
import MainLayout from "../../../layout/MainLayout.astro";
import type { Product } from "../../../types/Product";

const { publicUrl } = Astro.params;
const API_URL = 'http://localhost:8090/api/v1/products/url/' + publicUrl;

let product: Product | undefined ; 

try {
  const response = await fetch(API_URL);

  if (!response.ok) {
    const errorBody = await response.text();
    if (!product) {
      return Astro.redirect("/500");
    }
  } else {
    const data: Product = await response.json();
    product = data;
    if (!product) {
      return Astro.redirect("/404");
    }
  }
} catch (error) {
  console.error("Failed to fetch items:", error);
  if (!product) {
      return Astro.redirect("/500");
    }
}

---
<MainLayout tabTitle={product.brand + " - " + product.name} activeTab="products">
    <div class="flex-row w-50">
      <div class="product-card w-50">
        <img src="/images/prx.png" loading="lazy"/>
      </div>
      <div class="product-info">
        <h1 class="fs-2">{product.brand + " - " + product.name}</h1>
        <p>{product.description}</p>
        <ul>
          <li>Diameter: <span>{product.diameter} mm</span></li>
          <li>Mechanism: <span>{product.mechanism}</span></li>
        </ul>
        {product.stock > 0 && <p>Item <span>in stock</span></p>}
        <h2>{product.price} €</h2>
        <AddToCartButton productId={product.id} client:load/>
      </div>
    </div>
</MainLayout>